body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  margin: 1px;
  background-color: white;
}

/* FONTS */

#headerTitle {
  font-size: 2em;
  font-weight: 700;
  color: #3a3b39;
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #3a3b39;
  padding: 35px 0px;
  margin: 0px;
}

h2 {
  margin: 20px;
  font-size: 1.2em;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h4 {
  text-decoration: none;
}

p {
  font-weight: 700;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: inherit;
  color: #495335;
}

/* Feedback components */

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #db8a34;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  padding: 10px;
  margin: 40px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  color: rgb(0, 0, 0);
  background-color: #00000006;
  font-size: 1.2em;
  justify-self: center;
  padding: 30px;
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.64);
}

.loadedContent {
  display: flex;
  justify-content: center;
}

.popupMsg {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.popupMsg.hide {
  opacity: 0;
}

/* Styles for enabled state */
.enabled {
  opacity: 1;
  pointer-events: auto;
}

/* Styles for disabled state */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* GENERAL STYLING */

.burgerMenu {
  visibility: hidden; /* Hide the menu by default in deskop view */
}

.burgerBtn {
  display: none; /* Hide the burger button by default in desktop view */
}

/* Overlay styles */
#overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Position it to cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  justify-content: center; /* Center the content */
  align-items: center; /* Center the content */
  z-index: 1000; /* Ensure it is on top of other elements */
}

#enlargedImage {
  max-width: 90%; /* Maximum width for the enlarged image */
  max-height: 90%; /* Maximum height for the enlarged image */
}

#about-section p {
  margin: 5px 0px 50px 0px;
  font-size: 1em;
  color: #3a3b39;
  font-weight: 400;
}

#about-section p:first-child {
  margin-bottom: 20px;
}
.textContainer h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0px 0px 40px 0px;
}

footer {
  margin-top: auto;
  width: 100%;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#header-img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/* Overlay-bilde */
#overlay-img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 20vw;
  max-width: 250px;
  height: auto;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.5s ease;
  filter: drop-shadow(2px 2px 2px #222);
}

#overlay-img:hover {
  transform: translate(-50%, -50%) scale(1.05);
  filter: drop-shadow(5px 5px 5px #222);
}

nav {
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 30px;
  right: 30px;
}

/* Flexbox for menylenkene */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
  display: flex;
  gap: 20px;
}

nav ul li {
  background-color: rgba(110, 110, 110, 0.226);
  display: inline;
  border-radius: 10px;
  padding: 5px;
}

/* Styling for lenker */
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Endrer fargen på lenken ved hover */
nav ul li:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 2px black;
}
/* ----- PAGE CONTENT ----- */

/* INDEX PAGE */

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.arrow {
  color: #495335;
  font-size: 20px;
  margin: 0px 15px;
  height: 40px;
  width: 40px;
  align-items: center;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 0.8px #00000050;
  cursor: pointer;
  border: none;
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

.arrow:hover {
  background-color: #49533576;
  cursor: pointer;
  box-shadow: 1px 1px 0.8px #00000050;
  opacity: 0.8;
  border: solid 1px #0000005a;
}

.allBlogs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.128);
  font-size: 20px;
  margin: 5px;
  height: 30px;
  border-radius: 10px;
  font-weight: 400;
  border: none;
  border-color: #0000005a;
  border-style: solid;
  border-width: 0.02px;
}

.allBlogs:hover {
  background-color: #49533576;
  cursor: pointer;
  box-shadow: 1px 1px 0.8px #00000050;
  opacity: 0.8;
}

.allBlogContainer {
  margin: 40px 0px;
}

.allBlogContainer a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

/* BLOGS PAGE */

.showMoreBtn {
  background-color: #5555552f;
  border-radius: 5px;
  padding: 20px 10px;
  font-size: 20px;
  margin: 5px;
  font-weight: 400;
  font-size: 13px;
  border: none;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
}

.showMoreBtn:hover {
  background-color: #49533576;
  cursor: pointer;
  box-shadow: 1px 1px 0.8px #00000050;
  opacity: 0.8;
}

.showMoreBtn:disabled {
  background-color: #5555552f;
  opacity: 0.6;
  box-shadow: none;
  cursor: default;
}

/* DETAIL PAGE */

#postContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#postDate {
  font-size: 1em;
  color: #7f8c8d;
  margin: 0px 0px 10px 0px;
}

#postTitle {
  font-size: 2em;
  font-weight: 700;
  color: #2c3e50;
  margin: 20px 0px 0px 0px;
  text-align: center;
}

#postContent {
  font-size: 1.2em;
  line-height: 1.6;
  color: #34495e;
}

#postContent p {
  font-weight: 400;
}

.wp-block-image {
  margin: 0px 0px;
}

.wp-block-image img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  margin: 0px;
}

.wp-element-caption {
  font-size: 0.8em;
  color: #7f8c8d;
}

.wp-block-gallery {
  margin: 0px;
  display: flex;
  flex-direction: row;
  gap: 1px;
}

/* CONTACT PAGE */

#contact-form h1 {
  width: 80%;
  margin: 0px auto;
  padding-right: 25px;
}

.errorForm {
  font-weight: 500;
  color: red;
  font-size: 0.75em;
}

.splitContainer {
  display: flex;
  justify-content: flex-start;
  padding: 0px 80px;
  flex-wrap: wrap;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-content: flex-end;
}

.formSection {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.formSection h1,
.contactInfo h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #3a3b39;
}

.contactInfo p {
  font-weight: 400;
  font-size: 1em;
  color: #3a3b39;
  max-width: 100%;
}

.contactInfo img {
  max-width: 19em;
  height: auto;
  margin: 10px 10px 0px 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.formStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formStyle input,
textarea {
  background-color: rgba(0, 0, 0, 0.06);
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  border: none;
  width: 100%;
  box-shadow: 0.5px -0.5px 0.8px #00000050;
}

.ctaSend {
  background-color: #495335;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  margin: 5px;
  right: 0px;
  transition:
    text-decoration 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

.ctaSend:hover {
  background-color: #be622d;
  cursor: pointer;
  box-shadow: 1px 1px 0.8px #00000050;
  opacity: 0.8;
  text-decoration: underline;
}

.errorForm {
  min-height: 20px;
  display: flex;
  align-items: center;
}

/* ABOUT PAGE */
.aboutContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  gap: 20px;
  padding: 3em;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
}

.aboutText {
  flex: 1 1 200px;
  font-size: 1.2em;
  max-width: 60%;
}

#about-section {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.textContainer {
  padding: 0em 5em;
  flex: 1;
  max-width: 50%;
}
.imageContainer {
  flex: 1;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}

.aboutImage {
  max-width: 350px;
  height: auto;
  border-radius: 40px;
  margin: 40px 0px;
}

/* blog card */

.blogCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  overflow: hidden;
  transition: transform 0.2s;
}

.blogCard:hover {
  transform: scale(1.08);
}

.blogCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #e0e0e0;
}

.blogCard p {
  margin: 10px;
  color: #666;
  font-size: 0.9em;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blogCardContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.allBlogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  background-color: #495335;
  padding-top: 10px;
}

.footerLinks li,
ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  text-align: left;
}

.footerLinks li a {
  text-decoration: none;
  color: white;
}

.footerLinks a:hover {
  text-decoration: underline;
  text-decoration-color: #be622d;
  text-decoration-thickness: 3px;
}

.inputWrapper {
  display: flex;
  margin: 0px;
}

.emailInput {
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px 0px 0px 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.emailInput:focus {
  border-color: #007bff;
}

.submit-btn {
  background-color: #be622d;
  color: white;
  padding: 10px 20px;
  margin: 10px 0px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.submitBtnFooter {
  background-color: #be622d;
  color: white;
  padding: 0px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 0px 5px 5px 0px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  transition:
    font-size,
    0.3s ease-in-out;
}

.submitBtnFooter:hover {
  font-size: 20px;
  padding: 0px 23px;
}

.fa-brands {
  color: #495335;
  margin: 3px 5px 3px 5px;
  transition: text-shadow 0.3s ease;
}

.fa-brands:hover {
  color: #be622d;
  cursor: pointer;
  text-shadow: 3px 3px 1px #00000070;
}

.topSection {
  width: 100%;
  text-align: center;
}

.greenSection {
  padding: 10px;
}

.soMeSection {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}

.soMeSection i {
  font-size: 30px;
  margin: 10px;
  text-shadow: -0.5px -0.5px 0.5px rgb(131, 131, 131);
}

.fa-brands {
  color: #495335;
}

.bottomSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0px;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  text-align: center;
  padding: 10px 80px;
}

.bottomSection p {
  background-color: #ffffff10;
  width: fit-content;
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
}
.bottomSection li {
  padding: 1px;
  margin: 2px 0px;
}

.bottomSection ul {
  padding: 0px 10px;
}

.logoFooter {
  max-width: 120px;
  filter: drop-shadow(4px 5px 0.1px #000000);
  margin: 0 auto;
}

.logoFooter {
  opacity: 0.3;
  display: block;
  max-width: 150px;
}

.logoSection {
  display: block;
  margin: auto;
}

/* MEDIA QUERIES */
@media (max-width: 834px) {
  /* Header */
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s;
    max-height: 100px;
    min-height: 80px;
  }

  .navHeader {
    display: none;
  }

  body {
    padding-top: 100px;
  }

  .soMeSection {
    padding: 40px;
    justify-content: space-around;
  }

  .soMeSection i {
    font-size: 30px;
    text-shadow: -0.5px -0.5px 0.5px rgb(131, 131, 131);
  }

  .bottomSections {
    justify-content: center;
    flex-direction: column;
  }
  .bottomSection {
    padding: 50px 0px;
  }
  .bottomSection li {
    padding: 5px;
    margin: 10px 0px;
  }

  .blogCard {
    width: 285px;
  }

  .browseCard {
    width: 150px;
    margin: 12px;
  }

  .arrow {
    display: none;
  }

  .footerLinks li,
  ul {
    padding: 0px;
    text-align: center;
  }

  .inputWrapper {
    padding: 20px;
    justify-content: center;
  }

  .bottomSection p {
    background-color: #ffffff10;
    width: fit-content;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 0 auto;
  }

  /* DetailMob */

  #postContainer {
    padding: 0px 32px;
  }

  /* AboutMob */

  .textContainer {
    padding: 0 2em;
    max-width: 100%;
  }

  #about-section {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .aboutText {
    max-width: 100%;
  }

  .imageContainer img {
    max-width: 100%;
    height: auto;
  }

  /* ContactMob */

  .formSection {
    width: 75%;
  }

  .formStyle input,
  textarea {
    width: 100%;
  }
  .splitContainer {
    padding: 0px 20px;
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-form {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #contact-form h1 {
    width: 100%;
    margin: 0px auto;
    padding-right: 20px;
  }
  .contactInfo {
    width: 75%;
  }

  .contactInfo h1 {
    justify-self: center;
    padding: 30px 0px 10px 0px;
    font-size: 1.2em;
  }

  .contactInfo img {
    justify-self: center;
    max-width: 10em;
    height: auto;
    margin: 70px 0px 0px 30px;
  }

  .contactInfo p {
    font-size: 1em;
    color: #3a3b39;
    max-width: 100%;
    margin: 0px;
  }

  .ctaSend {
    display: flex;
    justify-self: flex-end;
    margin: 5px 0px;
  }

  /* Burger menu */

  .burgerBtn {
    display: block;
    position: fixed;
    top: 0.8em;
    right: 1em;
    z-index: 2000;
    color: #f8f9fa;
    padding: 5px;
    cursor: pointer;
    transition: top 0.3s;
    font-weight: 900;
    font-size: 25px;
    background-color: #00000060;
  }

  .burgerMenu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.929);
    color: black;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    z-index: 2000;
  }

  .burgerMenu.active {
    transform: translateX(0);
    opacity: 2;
    visibility: visible;
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .burgerMenu a {
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0px;
    padding: 20px 60px;
    display: block;
    text-decoration: none;
    color: black;
  }
}
