/* FONTS */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  margin: 1px;
}

/* GENERAL STYLING */

#headerTitle {
  font-size: 2em;
  font-weight: 700;
  color: #3a3b39;
  margin: 0px;
  padding: 20px 0px;
  text-align: center;
}
a {
  font-size: 12px;
  text-decoration: none; 
  color: inherit;
 
}
p {
  font-weight: 700;
}

h4 {
  text-decoration: none;
}



#about-section p {
  font-weight: 400;
}

.textContainer h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0px 0px 40px 0px;
}

footer {
  margin-top: auto;
  width: 100%;
}


/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}

#header-img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/* Overlay-bilde */
#overlay-img {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 20vw;
  max-width: 250px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.5s ease;
  filter: drop-shadow(2px 2px 2px #222);
}

#overlay-img:hover {
  transform: translate(-50%, -50%) scale(1.05); /* Scale up on hover */
  filter: drop-shadow(5px 5px 5px #222);
}

nav {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: end;
  position: absolute;
  top: 20px;
}

/* Flexbox for menylenkene */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0px 10px;
  display: flex; /* Plasserer lenkene horisontalt */
  gap: 20px; /* Avstand mellom lenkene */
}

nav ul li {
  background-color: rgba(110, 110, 110, 0.5);
  display: inline;
  border-radius: 10px;
  padding: 5px;
}

/* Styling for lenker */
nav ul li a {
  text-decoration: none;
  color: white; /* Hvit tekst for synlighet */
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px; /* Runde hjørner */
}

/* Endrer fargen på lenken ved hover */
nav ul li:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3); 
  box-shadow: 2px 2px 2px black;
}
/* ----- PAGE CONTENT ----- */

/* INDEX PAGE */

.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.arrow {
  color: #495335;
  font-size: 20px;
  margin: 0px 15px;
  height: 40px;
  width: 40px;
  align-items: center;
border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 0.8px #00000050;
  cursor: pointer;
  border: none;
}

.allBlogsBtn {
  padding: 10px;
  color: #333;
  background-color: aqua;
  font-size: 20px;
  margin: 15px;
  height: 30px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  box-shadow: 1px 1px 0.8px #00000050;
}

/* BLOGS PAGE */
/* DETAIL PAGE */

#postContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

#postTitle { 
  font-size: 2em;
  font-weight: 700;
  color: #2c3e50; 
  margin: 20px 0px;
  text-align: center; 
}

#postContent {
  font-size: 1.2em;
  line-height: 1.6; 
  color: #34495e; 
}

#postContent p {
  font-weight: 400;
}

.wp-block-image {
  margin: 0px 0px;
}

.wp-block-image img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a floating effect */
  max-width: 100%;
  height: auto;
  margin: 0px;
}

.wp-element-caption {
  font-size: 0.8em;
  color: #7f8c8d;
}

.wp-block-gallery {
  margin: 0px;
  display: flex;
  flex-direction: row;
  gap: 1px;
}



/* CONTACT PAGE */

/* ABOUT PAGE */
.aboutContainer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  gap: 20px;
  padding: 3em;
}

#about-section img {
  width: 25em;
  height: auto;
  padding: 5em;;

}

.aboutContainer {
  display: flex;
  flex-direction: column;
 
}

.aboutText {
  flex: 1 1 200px;
  font-size: 1.2em;
  max-width: 60%;
}

#about-section {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 20px; /* Avstand mellom tekst og bilde */
}

.textContainer {
  padding: 5em;
  flex: 1; /* Gjør at tekstboksen kan ta opp tilgjengelig plass */
  max-width: 50%; /* Begrenser bredden på tekstboksen */
}

.imageContainer img {
  padding-right: 50px;
  max-width: 100%; /* Sikrer at bildet ikke overskrider sin container */
  height: auto;
}


/* CONTACT PAGE */
.splitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
}

.contact-info {
  display: flex;
  flex-direction: column;

}

.contact-info img {
  width: 20em;
  height: auto;
}
/* DETAILS PAGE */



/* blog card */


.blogCardContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.blog-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 300px; /* Width of the card */
  overflow: hidden; /* Prevents content overflow */
  transition: transform 0.2s; /* Smooth hover effect */
}

.blog-card:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.blog-card h4 {
  margin: 20px; /* Margin around the title */
  font-size: 1.2em; /* Title font size */
  color: #333; /* Darker text color */
  overflow: hidden; /* Prevents overflow */
  text-overflow: ellipsis; /* Adds ellipsis for overflow text */
  white-space: nowrap; /* Prevents line breaks */
}

.blog-card img {
  width: 100%; /* Fills the width of the card */
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensures image covers the area */
  border-bottom: 2px solid #e0e0e0; /* Separator between image and title */
}

.blog-card p {

  margin: 10px; /* Margin around text content */
  color: #666; /* Lighter text color */
  font-size: 0.9em; /* Description font size */
  height: 50px; /* Fixed height for text content */
  overflow: hidden; /* Prevents overflow */
  text-overflow: ellipsis; /* Adds ellipsis for overflow text */
}



#blogCardContainer {
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.allBlogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* FOOTER */

footer {
  background-color: #495335; /* Bakgrunnsfarge for footeren */
  padding-top: 10px;
}

.footerLinks li,
ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 5px; 
  text-align: left;
}

.footerLinks li a {
  text-decoration: none;
  color: white;
}

.inputWrapper {
  display: flex;
  margin: 0px;
}

.emailInput {
  max-width: 400px; /* Limits the width */
  padding: 10px; /* Adds spacing inside the input */
  margin: 10px 0; /* Adds spacing around the input */
  border: 1px solid #ccc; /* Light border for clean look */
  border-radius: 5px 0px 0px 5px; /* Rounded corners */
  font-size: 16px; /* Easy-to-read font size */
  outline: none; /* Removes default outline on focus */
  transition: border-color 0.3s ease-in-out; /* Smooth transition for focus state */
}

.emailInput:focus {
  border-color: #007BFF; /* Changes border color when focused */
}

.submit-btn {
  background-color: #be622d; /* Blue background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Adds spacing inside the button */
  margin: 10px 0; /* Adds spacing around the button */
  border: none; /* Removes default button border */
  border-radius:  0px 5px 5px 0px; /* Rounded corners */
  font-size: 16px; /* Easy-to-read font size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  outline: none; /* Removes default outline on focus */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for hover state */
}



.fa-brands {
  color: #495335;
  margin: 3px 5px 3px 5px;
}

.top-section {
  width: 100%; /* 100% bredde */
  text-align: center; /* Sentrerer innholdet */
}

.green-section {
  padding: 10px;
}

.some-section {
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}

.some-section i {
  font-size: 30px;
  margin: 10px;
  text-shadow: -0.5px -0.5px 0.5px rgb(131, 131, 131);
}

.fa-brands {
  color: #495335;
}

.bottom-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0px;
}

.bottom-section {
  flex: 1; /* Hver seksjon tar lik bredde */
  text-align: center; /* Sentrerer innholdet */
  padding: 20px; /* Padding for bunnseksjonene */
}

.bottom-section p {
  background-color: #ffffff10;
  width: fit-content;
  padding: 10px 5px;
  border-radius: 5px;
  color: white;
}
.logoFooter {
  max-width: 120px;
  filter: drop-shadow(4px 5px 0.1px #000000);
  margin: 0 auto;
}

.logoFooter {
  opacity: 0.3;
  display: block;
  max-width: 150px;
}

.logo-section {
  display: block;
  margin: auto;
}



/* Responsive footer for small screens */
@media (max-width: 600px) {
  .some-section {
    padding: 40px;
    justify-content: space-around;

    
  }

  .some-section i {
    font-size: 30px;
    text-shadow: -0.5px -0.5px 0.5px rgb(131, 131, 131);;
  }

  .bottom-sections {
    justify-content: center;
    flex-direction: column;

  }

  .blog-card {
    width: 420px;
  }
.arrow { 
  display: none;
}
 
  .footerLinks li, ul {
    padding: 0px;
    text-align: center;
  }

  .inputWrapper {
    padding: 20px;
    justify-content: center;
  }

 
  
  .bottom-section p {
    background-color: #ffffff10;
    width: fit-content;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    text-align: center; /* Ensure <p> text is centered */
    margin: 0 auto; /* Center the <p> element itself */
  }

  /* About page mobile */

  .textContainer {
    padding: 1em;
    max-width: 100%;
  }

  .textContainer h1 {
    padding: 10px 0px;
  }
  
  #about-section {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #about-section img {
    padding: 1em;
  }

  .aboutText {
    max-width: 100%;
  }

  .imageContainer img {
    max-width: 100%; /* Sikrer at bildet ikke overskrider sin container */
    height: auto;
  }
  

  
}
